<div>
    <h2 id="page-heading">
        <span jhiTranslate="lmsApp.modulePedagogique.home.title">Module Pedagogiques</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-module-pedagogique" [routerLink]="['/module-pedagogique/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="lmsApp.modulePedagogique.home.createLabel">
            Create new Module Pedagogique
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="modulePedagogiques">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="lmsApp.modulePedagogique.codeModule">Code Module</span></th>
            <th><span jhiTranslate="lmsApp.modulePedagogique.intituleModule">Intitule Module</span></th>
            <th><span jhiTranslate="lmsApp.modulePedagogique.descriptionModule">Description Module</span></th>
            <th><span jhiTranslate="lmsApp.modulePedagogique.admin">Admin</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let modulePedagogique of modulePedagogiques ;trackBy: trackId">
                <td><a [routerLink]="['/module-pedagogique', modulePedagogique.id, 'view' ]">{{modulePedagogique.id}}</a></td>
                <td>{{modulePedagogique.codeModule}}</td>
                <td>{{modulePedagogique.intituleModule}}</td>
                <td>{{modulePedagogique.descriptionModule}}</td>
                <td>
                    {{modulePedagogique.adminFirstName}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/module-pedagogique', modulePedagogique.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/module-pedagogique', modulePedagogique.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'module-pedagogique', { outlets: { popup: modulePedagogique.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
