<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-sujet-heading" jhiTranslate="lmsApp.sujet.home.createOrEditLabel">Create or edit a Sujet</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!sujet.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lmsApp.sujet.intituleSujet" for="field_intituleSujet">Intitule Sujet</label>
                    <input type="text" class="form-control" name="intituleSujet" id="field_intituleSujet"
                           formControlName="intituleSujet"/>
                    <div *ngIf="editForm.get('intituleSujet').invalid && (editForm.get('intituleSujet').dirty || editForm.get('intituleSujet').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('intituleSujet').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lmsApp.sujet.descriptionSujet" for="field_descriptionSujet">Description Sujet</label>
                    <input type="text" class="form-control" name="descriptionSujet" id="field_descriptionSujet"
                           formControlName="descriptionSujet"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lmsApp.sujet.modulePedagogique" for="field_modulePedagogique">Module Pedagogique</label>
                    <select class="form-control" id="field_modulePedagogique" name="modulePedagogique" formControlName="modulePedagogiqueId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="modulePedagogiqueOption.id" *ngFor="let modulePedagogiqueOption of modulepedagogiques; trackBy: trackModulePedagogiqueById">{{modulePedagogiqueOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lmsApp.sujet.competence" for="field_competence">Competence</label>
                    <select class="form-control" id="field_competence" name="competence" formControlName="competenceId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="competenceOption.id" *ngFor="let competenceOption of competences; trackBy: trackCompetenceById">{{competenceOption.intituleCompetence}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
