<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cours-heading" jhiTranslate="lmsApp.cours.home.createOrEditLabel">Create or edit a Cours</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!cours.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lmsApp.cours.titreCours" for="field_titreCours">Titre Cours</label>
                    <input type="text" class="form-control" name="titreCours" id="field_titreCours"
                           formControlName="titreCours"/>
                    <div *ngIf="editForm.get('titreCours').invalid && (editForm.get('titreCours').dirty || editForm.get('titreCours').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('titreCours').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lmsApp.cours.contenuCours" for="field_contenuCours">Contenu Cours</label>
                    <input type="text" class="form-control" name="contenuCours" id="field_contenuCours"
                           formControlName="contenuCours"/>
                    <div *ngIf="editForm.get('contenuCours').invalid && (editForm.get('contenuCours').dirty || editForm.get('contenuCours').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('contenuCours').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lmsApp.cours.parcour" for="field_parcour">Parcour</label>
                    <select class="form-control" id="field_parcour" name="parcour" formControlName="parcourId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="parcourOption.id" *ngFor="let parcourOption of parcours; trackBy: trackParcourById">{{parcourOption.titreParcour}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
