<div>
    <h2 id="page-heading">
        <span jhiTranslate="lmsApp.ressource.home.title">Ressources</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ressource" [routerLink]="['/ressource/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="lmsApp.ressource.home.createLabel">
            Create new Ressource
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="ressources">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="lmsApp.ressource.titreRessource">Titre Ressource</span></th>
            <th><span jhiTranslate="lmsApp.ressource.cheminRessource">Chemin Ressource</span></th>
            <th><span jhiTranslate="lmsApp.ressource.typeRessource">Type Ressource</span></th>
            <th><span jhiTranslate="lmsApp.ressource.exercice">Exercice</span></th>
            <th><span jhiTranslate="lmsApp.ressource.cours">Cours</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ressource of ressources ;trackBy: trackId">
                <td><a [routerLink]="['/ressource', ressource.id, 'view' ]">{{ressource.id}}</a></td>
                <td>{{ressource.titreRessource}}</td>
                <td>{{ressource.cheminRessource}}</td>
                <td jhiTranslate="{{'lmsApp.TypeRessource.' + ressource.typeRessource}}">{{ressource.typeRessource}}</td>
                <td>
                    <div *ngIf="ressource.exerciceId">
                        <a [routerLink]="['../exercice', ressource.exerciceId , 'view' ]" >{{ressource.exerciceId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="ressource.coursId">
                        <a [routerLink]="['../cours', ressource.coursId , 'view' ]" >{{ressource.coursId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/ressource', ressource.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ressource', ressource.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'ressource', { outlets: { popup: ressource.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
